:root {
  --color-primary: #21B08E;
  --color-secondary: #3B9FA6;
  --color-black: #2F2F2F;
  --color-text: #FFFFFF;
  --color-gray: #555555;
  --color-light-gray: #b6b4b4;
}

$color-primary: #21B08E;
$color-secondary: #3B9FA6;
$color-black: #2F2F2F;
$color-text: #FFFFFF;
$color-gray: #555555;
$color-light-gray: #b6b4b4;